.container
{
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* colors for navbar brand (top-left)*/
.navbar-default .navbar-brand .blue
{
    color: #537fbe;
}
.navbar-default .navbar-brand .red
{
    color: #ea433b;
}
.navbar-default .navbar-brand .yellow
{
    color: #f5b82e;
}
.navbar-default .navbar-brand .green
{
    color: #2e944b;
}
.navbar-default .navbar-brand
{
    font-size: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main td
{
    /* left-align tables' cells */
    text-align: left;
}

main p
{
    font-size: 24px;
}

#quote_disp
{
    margin-top: 30px;
    list-style: none;
    font-size: 30px;
}

#equity
{
    width: 300px;
}

button
{
    width: 160px;
    height: 50px;
}

#deposit
{
    background-color: lightblue;
}

#withdraw
{
    background-color: lightgreen;
}

#userChange
{
    background-color: yellow;
}

#passChange
{
    background-color: lightcoral;
}

